h1 {
  color: teal;
  font-size: 6em;
  text-align: center;
}

p {
  color: gray;
  font-size: 2em;
  text-align: center;
}

img {
  width: 300px;
  position: relative;
    left: 50%;
}

h2 {
  color: teal;
  font-size: 4em;
  text-align: center;    
}

.About Me { 
  color: teal;
  font-size: 5em;
  text-align: center;
}