h1 {
  color: teal;
  font-size: 4em;
  text-align: center;
}

p {
  color: gray;
  font-size: 2em;
  text-align: center;
}

img {
  width: 300px;
  position: relative;
    left: 36%;
}

img.galleryimage {
  width: 300px;
}

li {
  font-size: 2em;
  color: teal;
  position: relative;
    left: 43%;
}

h2 {
  color: teal;
  font-size: 2em;
  text-align: center;
}